.App {
  text-align: center;
}

.App-header {
  margin: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.forms {
  display: flex;
  flex-direction: row;
  margin:10px;
}

.input {
  margin: 10px;
}

.groups {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #0dbaa6, #026357);
}

.Group {
  margin: 20px 10px;
  padding: 1vw;
  min-width: 200px;
  background-color: white;
  color: #282c34;
  border-radius: 5px;
}